name: "Test Installation Scripts"

on:
  schedule:
    - cron: "00 00 * * *"
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deb:
    name: "NodeJS ${{ matrix.version }}(${{ matrix.os }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ 20, 22, 24, 25 ]
        os: [ "ubuntu:24.04", "ubuntu:22.04", "debian:13", "debian:11" ]
    container:
      image: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Run Installation Script
        run: ./scripts/deb/setup_${{ matrix.version }}.x

      - name: Audit Repository
        if: matrix.os == 'debian:13'
        run: apt update --audit

      - name: Install Nodejs
        run: apt install nodejs -y

      - name: Validate Node Version
        run: |
         node -e "console.log(process.version)"
         NODE_VERSION=$(node -e "console.log(process.version.split('.')[0])")
        
         if [[ ${NODE_VERSION} != "v${{ matrix.version }}" ]]; then
          echo "Node version is not ${{ matrix.version }}. It is $NODE_VERSION"
          exit 1
         fi

      - name: Install NSolid
        if: matrix.version != 25
        run: |
         apt remove nodejs -y
         apt install nsolid -y

      - name: Validate NSolid Version
        if: matrix.version != 25
        run: |
         nsolid -e "console.log(process.version)"
         NSOLID_VERSION=$(nsolid -e "console.log(process.version.split('.')[0])")
        
         if [[ ${NSOLID_VERSION} != "v${{ matrix.version }}" ]]; then
          echo "NSolid version is not ${{ matrix.version }}. It is $NSOLID_VERSION"
          exit 1
         fi

  rpm:
    name: "NodeJS ${{ matrix.version }}(${{ matrix.os }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ 20, 22, 24, 25 ]
        os: [ "fedora:41", "amazonlinux:2023", "rockylinux:9", "rockylinux:8", "redhat/ubi9:latest" ]
    container:
      image: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: install git
        run: |
          dnf update -y
          dnf install git -y

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Run Istallation Script
        run: ./scripts/rpm/setup_${{ matrix.version }}.x

      - name: Audit Repository
        run: dnf repolist

      - name: Install Nodejs
        run: |
          dnf install nodejs -y

      - name: Validate Node Version
        run: |
          node -e "console.log(process.version)"
          NODE_VERSION=$(node -e "console.log((process.version).split('.')[0])")
          if [[ ${NODE_VERSION} != "v${{ matrix.version }}" ]]; then
            echo "Node version is not ${{ matrix.version }}. It is $NODE_VERSION"
            exit 1
          fi

      - name: Install NSolid
        if: matrix.version != 25
        run: |
          dnf remove nodejs -y
          dnf install nsolid -y

      - name: Validate NSolid Version
        if: matrix.version != 25
        run: |
          nsolid -e "console.log(process.version)"
          NSOLID_VERSION=$(nsolid -e "console.log((process.version).split('.')[0])")
          if [[ ${NSOLID_VERSION} != "v${{ matrix.version }}" ]]; then
            echo "NSolid version is not ${{ matrix.version }}. It is $NSOLID_VERSION"
            exit 1
          fi

  rpm-minimal:
    name: "NodeJS ${{ matrix.version }}(${{ matrix.os }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ 20, 22, 24, 25]
        os: [ "rockylinux:9-minimal", "rockylinux:8-minimal", "redhat/ubi9-minimal:latest" ]
    container:
      image: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: install git
        run: |
          microdnf update -y
          microdnf install git -y

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Run Istallation Script
        run: ./scripts/rpm/setup_${{ matrix.version }}.x

      - name: Audit Repository
        run: microdnf repolist

      - name: Install Nodejs
        run: |
          microdnf install nodejs -y

      - name: Validate Node Version
        run: |
          node -e "console.log(process.version)"
          NODE_VERSION=$(node -e "console.log((process.version).split('.')[0])")
          if [[ ${NODE_VERSION} != "v${{ matrix.version }}" ]]; then
            echo "Node version is not ${{ matrix.version }}. It is $NODE_VERSION"
            exit 1
          fi

      - name: Install NSolid
        if: matrix.version != 25
        run: |
          microdnf remove nodejs -y
          microdnf install nsolid -y

      - name: Validate NSolid Version
        if: matrix.version != 25
        run: |
          nsolid -e "console.log(process.version)"
          NSOLID_VERSION=$(nsolid -e "console.log((process.version).split('.')[0])")
          if [[ ${NSOLID_VERSION} != "v${{ matrix.version }}" ]]; then
            echo "NSolid version is not ${{ matrix.version }}. It is $NSOLID_VERSION"
            exit 1
          fi
